/*Estructura*/
body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:0px;
    padding:0px;
    /* background-color:rgb(228, 228, 228); */
    background-color:#f9f9f9;
}
header{
    background-color:white;
    padding-left:20px;
    color:#606060;
    position:fixed;
    height: 75px;
    width: 100%;
    overflow:hidden;
}
footer{
    background-color:rgb(100, 100, 100);
    color:white;
    text-align: right;
    position:fixed;     /*Esto es lo que pone la barra abajo, y no flotando por ahí*/
    bottom:0px;
    width:100%;
}
footer img{
    border-radius:50%;
}
h1,h2,h3{
    margin:0px;     /*Esta es la wea que genera (más bien borra) la barra en blanco arriba del header*/
}
h3{
    font-size:18px;
}
hr{
    margin-top:0px;
    margin-bottom:20px;
}
h1,h3,legend{
    font-variant:small-caps;
}


/*El resto*/
/*Balanza y plato*/
/* div{
    height: 400px;
    width: 800px;
    border: solid black 10px;
} */
figure{
    margin:10px 0px;
    position:absolute;
    top: 80px;
}
#BalanzaBase{
    /* height: 400px;
    width: 800px; */
    border: solid black 5px;
    /* background-image: url("../imgs/BalanzaBase.png"); */
}
#cero{
    position:absolute;
    height: 112px;
    width:34px;
    top: 317px;
    left: 863px;

    border: solid 1px rgb(71, 71, 71);
    background-color:rgb(4, 46, 136);
    color:snow;
    font: 20px monospace;
}
#cero p{
    margin: 45px 0px;
}
#uberPlato{
    position:absolute;
    top: 255px;
    left: 46px;
    /* border: solid 1px black;            Comentar luego */

    transition-property:top;
    transition-duration: 1s;
    transition-timing-function:ease;
}
/* #uberPlato:hover{
    top:270px;
} */
.disk{
    display:inline-block;
    /* border-width:; */
    border: 2px solid rgb(172, 172, 172);
    border-radius:50%;
    height:50px;
    width: 200px;
    position:absolute;
    background-color:lightgrey;
    /* top: 150px;
    left: 48px; */
}
#objetoEnPlato{
    position:absolute;
    bottom: -35px;
    left: 50px;
}

/*Regla*/
#uberRegla{
    display:inline;
    position:absolute;
    /* border: solid 1px rgb(71, 71, 71);  /* Temporal */
    top: 320px;
    left: 180px;
    width: 678px;   /*Sin esta línea, se descuadraría al redimensionar el navegador*/

    transition-property:top;
    transition-duration: 1s;
    transition-timing-function:ease;
}
/* #uberRegla:hover{
    top:350px;
} */
.regla{
    display:inline-block;
    /* position:absolute; */
    margin: 2px 0px;
    /* display:inline-block; */
    border: solid 2px rgb(172, 172, 172);
    text-align:center;
    width: 600px;
    height: 30px;
    background-color:gainsboro;
    /* padding:3px; */
    clear:both;
}
#diezGramos{
    word-spacing: 30px;
}
#cienGramos{
    word-spacing: 75px;
}
#unGramo{
    word-spacing: 38.7px;
}
#contenedorReglas{
    float:left;
}

.lateral{
    /* border: solid 1px rgb(71, 71, 71);  Temporal */
    height: 112px;
    /* width: 698px; */
}
#lateralIzquierda{
    float:left;
    width: 30px;
    background-color: black;
}
#lateralDerecha{
    float:right;
    width:44px;
    /* border: solid 1px rgb(71, 71, 71) */
}
#lateralDerecha div{
    /* border: solid 1px rgb(71, 71, 71) !important;  Temporal */
    height: 112px;
    width:30px;
}
#lateralDerechaBarraNegra{
    float:left;
    background-color: black;
    position: absolute;
    /* z-index: 100%; */
    /* border-color:blue !important;   Temporal */
}


/* Marcadores de las "reglas" */
.marker{
    height:30px;
    width: 30px;
    
    opacity:0.5;
    position:absolute;

    transition-property:left;
    transition-duration: 0.2s;
    transition-timing-function:linear;
}
#diezMarker{
    border: 3px solid blue;
    background:slateblue;
    color:slateblue;                     /*DESCOMENTAR LUEGO*/
    top: 1px;
    left: 50px;
    /* text-rendering: */
}
/* #diezMarker:hover{
    left:80px;
} */
#cienMarker{
    border: 3px solid green;
    background:greenyellow;
    color:greenyellow;                   /*DESCOMENTAR LUEGO*/
    top: 39px;
    left: 50px;
}
#unMarker{
    border: 3px solid rgb(138, 24, 24);
    background:red;
    color:red;                           /*DESCOMENTAR LUEGO*/
    top: 77px;
    left: 50px;
}


/*Botones*/
.mover{
    position:absolute;
}
#movIzqDiez,#movDerDiez{
    top:8px;
}
#movIzqCien,#movDerCien{
    top:47px;
}
#movIzqUn,#movDerUn{
    top:84px;
}


/*Lateral*/
fieldset{
    position:absolute;
    top:80px;
    left:1020px;
}
select{
    width:200px;
}
label{
    font-size:13px;
}
#instrucciones{
    position:absolute;
    top:240px;
    left:1020px;
    width: 270px;
}
/* #instrucciones p{
    
} */
#textoInst{
    display:none;
    font-size:12px;
    text-align:justify;
}